h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }

h2 {
  font-size: 1.6875em; }

h3 {
  font-size: 1.2em; }
  
h4 {
  font-size: 0.9em; font-weight:bold}  

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p, li {
	font-size: 0.9em;
}

table tbody tr td {
	font-size: 0.8em;
}

.title {
	font-size: 1em;
}

.tagline {
	font-size: 1em;
	color: #888888;
}

iframe.video {
	margin-bottom: 12px;
}

.panel {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 0.8em;	
}

.figure {
	margin-bottom: 12px;
}

ul, ol {
	margin-left: 20px;
}

code 
    {
	display:block;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
	color:black;
	font-size: 0.8em;
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	margin-bottom: 1.25em;
	padding: 1.25em;
	background: #f2f2f2;
    /* BEGIN word wrap */
    /* Need all the following to word wrap instead of scroll box */
    /* This will override the overflow:auto if present */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    /* END word wrap */
    }  
  
code > span.kw { color: #268BD2; }
code > span.dt { color: #268BD2; }
code > span.dv { color: #D33682; }
code > span.bn { color: #D33682; }
code > span.fl { color: #D33682; }
code > span.ch { color: #DC322F; }
code > span.st { color: #2AA198; }
code > span.co { color: #888888; }
code > span.ot { color: purple; }
code > span.al { color: #CB4B16; font-weight: bold; }
code > span.fu { color: purple; }
code > span.re { }
code > span.er { color: #DC322F; font-weight: bold; }